/* ********** Variables ********** */

/* *** COLORS *** */
$blue: #2713D4;
$lightBlue: #005dff;
$lightBlue2: #00a3ff;
$lighterBlue: #b4f4ff;

$white: rgba(255,255,255,1);

/* ****** FONTS ****** */
$fontDefault: "Kalam", cursive;
$fontTitles: "Kalam", cursive;
$fontSizeDefault: 1.2rem;

/* ****** line height ****** */
$lineHeight: 2.0rem;

/* ****** Width ****** */
$maxWidth: 1140px;

/* ****** Grid ****** */
$gridTempCol: repeat(12, 1fr);