/* ********** Variables ********** */

/* *** COLORS *** */
$blue: rgba(39,19,212,1);
$lightBlue: rgba(34,69,245,1);
$lightBlue2: rgba(66,191,245,1);
$lighterBlue: rgba(211,239,240,1);

$white: rgba(255,255,255,1);

/* ****** FONTS ****** */
$fontDefault: "Kalam", cursive;
$fontTitles: "Kalam", cursive;
$fontSizeDefault: 1.2rem;

/* ****** line height ****** */

$lineHeight: 2.0rem;

/* ****** Width ****** */

$maxWidth: 1140px;


/* ****** Grid ****** */
$gridTempCol: repeat(12, 1fr);
