/* ********** General ********** */

html{
	scroll-behavior:smooth;
}

.sr-only{
	display:none;
}

body{
	margin:0;
	box-sizing: border-box;
	font-family: $fontDefault;
	background-color: $white;
	color: $blue;
}

body > main{
	background-color:$white;
	max-width: $maxWidth;
	justify-content:center;
	margin: auto;
}

h1,
h2,
h3{
    font-family: $fontTitles;
    text-align: center;
}

figcaption{
	font-size: 0.8rem;
	text-align: right;
}

a{
	text-decoration: none;
}

fieldset{
	border: none;
}

input[type=radio]:hover{
	cursor: pointer;
}

input:checked + label {
	color: rgba(114,0,214,1);
	font-weight: 700;
	text-decoration: underline;
}

.button{
	font-family: $fontDefault;
	font-weight: 700;
	border: none;
	background-color: $blue;
	color: $lighterBlue;
	padding: 0.3rem;
	margin: 0.5rem;
	border: 2px solid $blue;
	border-radius: 6px;
	cursor: pointer;
}

.button:hover{

	border: none;
	background-color: $lighterBlue;
	color: $blue;
	border: 2px solid $blue;
}

textarea,
input[type="date"],
input[type="text"],
input[type="mail"]{
	background-color: $lighterBlue;
	color: $blue;
	border: 2px solid $blue;
	font-family: $fontDefault;
}

.logo{
	width: 10vw;
	height: auto;
	position: absolute;
	margin: 0.5rem;
}

.errors{
	text-align: center;
	font-weight: 700;
	color: red;
	margin: 2rem auto;
}

.validation{
	text-align: center;
	font-weight: 700;
	color: green;
	margin: 2rem auto;
}

@media(min-width: 0px) and (max-width: 990.99px)
{
	body{
		font-size: 1rem;
		line-height: 1.5rem;
	}

	h1{
		font-size: 1.8rem;
		font-weight: 900;
		line-height: 2.2rem;
		margin: 2rem auto;
	}
	
	h2
	{
		font-size: 1.6rem;
		font-weight: 800;
		line-height: 2rem;
		margin: 1.7rem auto;
	}
	
	h3{
		font-size: 1.4rem;
		font-weight: 700;
		margin: 1.5rem auto;
	}
	
}

@media(min-width: 991px)
{
	body{
		font-size: $fontSizeDefault;
		line-height: $lineHeight;
	}

	h1{
		font-size: 2.4rem;
		font-weight: 900;
		line-height: 3rem;
		margin: 3rem auto;
	}
	
	h2
	{
		font-size: 2rem;
		font-weight: 800;
		line-height: 2.5rem;
		margin: 2rem auto;
	}
	
	h3{
		font-size: 1.4rem;
		font-weight: 700;
		margin: 1rem auto;
	}
	
}