/* ********** Variables ********** */
/* *** COLORS *** */
/* ****** FONTS ****** */
/* ****** line height ****** */
/* ****** Width ****** */
/* ****** Grid ****** */
/* ********** General ********** */
html {
  scroll-behavior: smooth;
}

.sr-only {
  display: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
  background-color: rgb(211, 239, 240);
  color: rgb(39, 19, 212);
}

body > main {
  background-color: rgb(211, 239, 240);
  max-width: 1140px;
  justify-content: center;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: "Kalam", cursive;
  text-align: center;
}

figcaption {
  font-size: 0.8rem;
  text-align: right;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

input[type=radio]:hover {
  cursor: pointer;
}

input:checked + label {
  color: rgb(114, 0, 214);
  font-weight: 700;
  text-decoration: underline;
}

.button {
  font-family: "Kalam", cursive;
  font-weight: 700;
  border: none;
  background-color: rgb(39, 19, 212);
  color: rgb(211, 239, 240);
  padding: 0.3rem;
  margin: 0.5rem;
  border: 2px solid rgb(39, 19, 212);
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  border: none;
  background-color: rgb(211, 239, 240);
  color: rgb(39, 19, 212);
  border: 2px solid rgb(39, 19, 212);
}

textarea,
input[type=date],
input[type=text],
input[type=mail] {
  background-color: rgb(211, 239, 240);
  color: rgb(39, 19, 212);
  border: 2px solid rgb(39, 19, 212);
  font-family: "Kalam", cursive;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  h1 {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 2.2rem;
    margin: 2rem auto;
  }
  h2 {
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2rem;
    margin: 1.7rem auto;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1.5rem auto;
  }
}
@media (min-width: 792px) {
  body {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  h1 {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 3rem;
    margin: 3rem auto;
  }
  h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
    margin: 2rem auto;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem auto;
  }
}
/* ********** Header ********** */
#publicNav {
  background-color: rgb(39, 19, 212);
}

#membersNav {
  background-color: rgb(34, 69, 245);
}

#adminNav {
  background-color: rgb(66, 191, 245);
}

#adminNav a {
  color: rgb(39, 19, 212);
}

header nav {
  text-align: center;
  line-height: 3rem;
}

header nav a {
  color: rgb(211, 239, 240);
  font-weight: 700;
  margin: 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #publicNav a {
    margin: 0.5rem;
  }
  #adminNav a {
    margin: 0.5rem;
  }
}
@media (min-width: 792px) {
  #publicNav a {
    margin: 2.5rem;
  }
  #adminNav a {
    margin: 2.5rem;
  }
}
/* ********** Home ********** */
#homeFirstP {
  text-align: center;
}

#home section p a {
  font-weight: 700;
  color: rgb(39, 19, 212);
}

#home section p a:hover {
  text-decoration: underline;
}

/* *** #homePresentation *** */
#homePresentation figure {
  margin: auto;
}

#homePresentation section {
  text-align: justify;
}

/* *** #homeActu *** */
#homeActu {
  background-color: rgb(39, 19, 212);
  color: rgb(211, 239, 240);
  margin: auto;
}

#homeActu li {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.homeActuH3 {
  font-size: 1.2rem;
  line-height: 2rem;
  grid-column: 1/5;
  text-align: right;
  padding: 0.5rem;
  margin: 0 0.5rem 0 auto;
}

#homeActu ul li p {
  grid-column: 5/13;
  text-align: left;
  padding: 0.5rem;
  margin: 0 auto 0 0.5rem;
}

#homeActu h2 {
  padding-top: 0.5rem;
}

/* *** #homeChants *** */
#homeChants p {
  margin: 0 0.5rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #homeFirstP {
    margin-bottom: 0.8rem;
  }
  /* *** #homePresentation *** */
  #homePresentation {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr, auto, auto;
  }
  #homePresentation h2 {
    grid-row: 1;
    grid-column: 1/13;
  }
  #homePresentation figure {
    grid-column: 1/13;
    grid-row: 2;
  }
  #homePresentation section {
    grid-column: 2/12;
    grid-row: 3;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  #homePresentation figure img {
    max-width: 60vw;
  }
  /* *** #homeActu *** */
  #homeActu {
    max-width: 95vw;
  }
  /* *** #homeChants *** */
  .homeChantsArticle {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr, auto, auto;
  }
  .homeChantsArticle h3 {
    grid-row: 1;
    grid-column: 1/13;
  }
  .homeChantsArticle figure {
    grid-row: 3;
    grid-column: 1/13;
    margin: auto;
  }
  .homeChantsArticle p {
    grid-row: 2;
    grid-column: 1/13;
    padding: 0.5rem;
  }
  .homeChantsArticle .homeUrlVideo iframe {
    max-width: 80vw;
  }
}
@media (min-width: 792px) {
  #homeFirstP {
    margin-bottom: 2rem;
  }
  /* *** #homePresentation *** */
  #homePresentation {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr, auto;
  }
  #homePresentation h2 {
    grid-row: 1;
    grid-column: 1/13;
  }
  #homePresentation figure {
    grid-column: 9/13;
    grid-row: 2;
  }
  #homePresentation section {
    grid-column: 1/9;
    grid-row: 2;
    padding: 0.5rem 1rem;
  }
  #homePresentation figure img {
    max-width: 28vw;
  }
  /* *** #homeActu *** */
  #homeActu {
    max-width: 90vw;
  }
  /* *** #homeChants *** */
  .homeChantsArticle {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr, auto;
  }
  .homeChantsArticle h3 {
    grid-row: 1;
    grid-column: 1/13;
  }
  .homeChantsArticle figure {
    grid-row: 2;
    grid-column: 1/9;
    margin: auto;
  }
  .homeChantsArticle p {
    grid-row: 2;
    grid-column: 9/13;
    padding: 1rem;
  }
  .homeChantsArticle .homeUrlVideo iframe {
    max-width: 60vw;
  }
}
/* ********** Contact ********** */
#contact p {
  margin: 0 1rem 1rem 1rem;
}

#contactForm {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#contactForm input,
#contactForm textarea {
  margin: 0.5rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #contactForm {
    grid-template-rows: repeat(5, 1fr), auto, 1fr;
  }
  #contactForm label {
    margin: 0.6rem auto 0rem 0.5rem;
  }
  #mailAdressLabel {
    grid-row: 1;
    grid-column: 2/11;
  }
  #mailAdress {
    grid-row: 2;
    grid-column: 2/11;
    width: 80vw;
    height: 1.6rem;
  }
  #mailObjectLabel {
    grid-row: 3;
    grid-column: 2/11;
  }
  #mailObject {
    grid-row: 4;
    grid-column: 2/11;
    width: 80vw;
    height: 1.6rem;
  }
  #mailContentLabel {
    grid-row: 5;
    grid-column: 2/11;
  }
  #mailContent {
    grid-row: 6;
    grid-column: 2/11;
    width: 80vw;
    height: 5rem;
  }
  #contactFormSubmit {
    grid-row: 7;
    grid-column: 6;
  }
}
@media (min-width: 792px) {
  #contactForm {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  #contactForm input,
  #contactForm textarea {
    margin: 0.5rem;
  }
  #contactForm label {
    margin: 0.5rem 0.5rem 0.5rem auto;
  }
  #contactForm label {
    margin: 0.5rem 0.5rem 0.5rem auto;
  }
  #mailAdressLabel {
    grid-row: 1;
    grid-column: 2/5;
  }
  #mailAdress {
    grid-row: 1;
    grid-column: 5/11;
    max-width: 100%;
    height: 1.6rem;
  }
  #mailObjectLabel {
    grid-row: 2;
    grid-column: 2/5;
  }
  #mailObject {
    grid-row: 2;
    grid-column: 5/11;
    max-width: 100%;
    height: 1.6rem;
  }
  #mailContentLabel {
    grid-row: 3;
    grid-column: 2/5;
  }
  #mailContent {
    grid-row: 3;
    grid-column: 5/11;
    max-width: 100%;
    height: 5rem;
  }
  #contactFormSubmit {
    grid-row: 4;
    grid-column: 5;
  }
}
/* ********** Connect ********** */
#connect p {
  margin: 1rem;
  text-align: center;
}

#connectUser {
  margin-top: 2rem;
  text-align: center;
}

#connectUser input {
  margin: 0.5rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #connectUser {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 2.5rem);
  }
  #emailForConnectionLabel {
    grid-row: 1;
    grid-column: 2/11;
  }
  #emailForConnection {
    grid-row: 2;
    grid-column: 2/11;
    margin: 0.5rem;
  }
  #pwForConnectionLabel {
    grid-row: 3;
    grid-column: 2/11;
  }
  #pwForConnection {
    grid-row: 4;
    grid-column: 2/11;
  }
  #connectUserSubmit {
    grid-row: 5;
    grid-column: 6/8;
  }
  #connectUser label {
    margin: 0.6rem auto 0.5rem 0.5rem;
  }
}
@media (min-width: 792px) {
  #connectUser {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 2.5rem);
  }
  #emailForConnectionLabel {
    grid-row: 1;
    grid-column: 2/5;
  }
  #emailForConnection {
    grid-row: 1;
    grid-column: 5/11;
    margin: 0.5rem;
  }
  #pwForConnectionLabel {
    grid-row: 2;
    grid-column: 2/5;
  }
  #pwForConnection {
    grid-row: 2;
    grid-column: 5/11;
  }
  #connectUserSubmit {
    grid-row: 3;
    grid-column: 6/8;
  }
  #connectUser label {
    margin: 0.6rem 0.2rem 0.5rem auto;
  }
}
/* ********** MembersHome ********** */
#membersHome h1 {
  max-width: 60vw;
}

#disconnect {
  text-align: right;
  margin-right: 2rem;
}

.membersHomeEvent {
  margin: 2rem;
  padding: 1rem;
  border: 4px solid rgb(39, 19, 212);
  border-radius: 8px;
}

.membersHomeEvent h3 {
  text-align: left;
}

.membersHomeEvent p {
  text-align: justify;
}

.setParticipationFieldset {
  padding-left: 3rem;
}

.setParticipationForm .button {
  margin-left: 4.5rem;
}

/* ********** MembersList ********** */
@media (min-width: 0px) and (max-width: 791.99px) {
  .membersListName {
    padding: 0.2rem 1.5rem;
  }
  .membersListEmail,
  .membersListTel {
    padding: 0.2rem 3rem;
  }
  .membersListItem {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 792px) {
  #membersList ul {
    display: grid;
    justify-content: center;
    margin: auto;
  }
  .membersListItem {
    display: grid;
    grid-template-columns: 15vw 30vw 20vw;
    grid-template-rows: auto;
  }
  .membersListItem p {
    padding: 1rem;
  }
}
/* ********** MembersSongs ********** */
#membersSongs p {
  margin: 1rem auto;
}

#membersSongs ul {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}

.songsForDetail {
  display: grid;
  justify-content: center;
  margin: auto;
}

.songsForDetail .button {
  margin: 1rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #membersSongs ul {
    grid-template-columns: repeat(3, 30vw);
  }
}
@media (min-width: 792px) {
  #membersSongs ul {
    grid-template-columns: repeat(5, 18vw);
  }
}
/* ********** MembersSongDetail ********** */
#membersSongDetail .songDetailDescr {
  margin: auto;
}

#membersSongDetail ul {
  display: grid;
  justify-content: center;
}

.songDetailFig {
  display: grid;
  grid-template-rows: 5rem;
}

.songDetailFigCap {
  margin: auto;
}

.songDetailAudio {
  margin: auto;
}

.songDetailVideo {
  text-align: center;
}

.songDetailText {
  margin: 2rem auto;
  max-width: 80vw;
}

.songDetailText iframe {
  width: 100%;
  height: 500px;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #membersSongDetail .songDetailDescr {
    max-width: 95vw;
  }
  .songDetailAudio {
    max-width: 55vw;
    margin: auto;
  }
  .songDetailFig {
    grid-template-columns: 30vw 60vw;
  }
  .songDetailVideo iframe {
    max-width: 95vw;
    margin: 1.5rem;
  }
}
@media (min-width: 792px) {
  #membersSongDetail .songDetailDescr {
    max-width: 80vw;
  }
  .songDetailFig {
    grid-template-columns: 15vw 45vw;
  }
}
/* ********** MembersEvents ********** */
.membersEventsItem {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  margin-top: 2rem;
  border: 4px solid rgb(39, 19, 212);
  border-radius: 8px;
}

.membEvDate {
  grid-column: 1/3;
  grid-row: 1;
  margin: auto;
}

.membEvCatName {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 1.5rem auto 1.5rem 0;
  grid-column: 3/5;
  grid-row: 1;
}

.membEvStat {
  grid-column: 10/12;
  grid-row: 1;
  margin: auto;
}

.membEvPres {
  grid-column: 2/4;
  grid-row: 2;
}

.membEvAbs {
  grid-column: 4/6;
  grid-row: 2;
}

.membEvNSP {
  grid-column: 6/8;
  grid-row: 2;
}

.membEvNRep {
  grid-column: 9/11;
  grid-row: 2;
}

.membEvPrivDet {
  grid-column: 2/12;
  grid-row: 3;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  text-align: justify;
}

.displayUpdateEventForm {
  grid-column: 6/8;
  grid-row: 4;
  text-align: center;
}

#sendNewChatItem {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr) auto 1fr;
}

#newChatForm {
  display: grid;
  grid-column: 1/13;
  grid-row: 2/5;
  grid-template-columns: subgrid;
}

#sendNewChatItem h2 {
  grid-column: 1/13;
  grid-row: 1;
  margin: auto;
}

.newChatTitleField {
  grid-column: 2/12;
  grid-row: 2;
  margin: 1rem 3rem 1rem auto;
}

.newChatTitleField input {
  width: 60vw;
}

.newChatContentField {
  grid-column: 2/12;
  grid-row: 3;
  margin: 1rem 3rem 1rem auto;
}

.newChatContentField textarea {
  width: 60vw;
  height: 5rem;
}

.newChatButton {
  grid-column: 1/13;
  grid-row: 4;
  margin: auto;
}

#displayAllMessages {
  margin-top: 4rem;
}

.displayAllMessagesTitle {
  text-align: left;
  margin-left: 2rem;
}

.displayAllMessagesMessage {
  margin-left: 3rem;
}

.displayAllMessagesName {
  margin-left: 3rem;
}

.displayAllMessagesAwser {
  margin-top: 2rem;
  margin-left: 5rem;
}

.displayAllMessagesAwserName {
  margin-left: 5rem;
}

#chatAnswerForm {
  margin-top: 1rem;
  margin-left: 7rem;
}

.sharingMessageForm {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 10rem;
}

.newSharingMessageButton {
  text-align: center;
  display: grid;
  justify-content: center;
  margin: 1rem auto;
}

.displayAllShares {
  margin-top: 4rem;
}

.displayAllSharesCat {
  text-align: left;
  margin-top: 4rem;
  margin-left: 2rem;
}

.displayAllSharesTitle {
  text-align: left;
  margin-left: 2rem;
}

.displayAllSharesMessage {
  margin-left: 3rem;
}

.displayAllSharesName {
  margin-left: 3rem;
}

.displayAllSharesAwser {
  margin-top: 2rem;
  margin-left: 5rem;
}

.displayAllSharesAwserName {
  margin-left: 5rem;
}

#displayAllSharesForm {
  margin-top: 1rem;
  margin-left: 7rem;
}

/*# sourceMappingURL=style.css.map */
