/* ********** Variables ********** */
/* *** COLORS *** */
/* ****** FONTS ****** */
/* ****** line height ****** */
/* ****** Width ****** */
/* ****** Grid ****** */
/* ********** General ********** */
html {
  scroll-behavior: smooth;
}

.sr-only {
  display: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Kalam", cursive;
  background-color: rgb(255, 255, 255);
  color: #2713D4;
}

body > main {
  background-color: rgb(255, 255, 255);
  max-width: 1140px;
  justify-content: center;
  margin: auto;
  padding: 0.5rem;
}

h1,
h2,
h3 {
  font-family: "Kalam", cursive;
  text-align: center;
}

figcaption {
  font-size: 0.8rem;
  text-align: right;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

input[type=radio]:hover {
  cursor: pointer;
}

input:checked + label {
  color: rgb(114, 0, 214);
  font-weight: 700;
  text-decoration: underline;
}

.button {
  font-family: "Kalam", cursive;
  font-weight: 700;
  border: none;
  background-color: #2713D4;
  color: #b4f4ff;
  padding: 0.3rem;
  margin: 0.5rem;
  border: 2px solid #2713D4;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  border: none;
  background-color: #b4f4ff;
  color: #2713D4;
  border: 2px solid #2713D4;
}

textarea,
input[type=date],
input[type=text],
input[type=mail] {
  background-color: #b4f4ff;
  color: #2713D4;
  border: 2px solid #2713D4;
  font-family: "Kalam", cursive;
}

textarea {
  padding: 0.2rem;
}

.logo {
  width: 10vw;
  height: auto;
  position: absolute;
  margin: 0.5rem;
}

.errors {
  text-align: center;
  font-weight: 700;
  color: red;
  margin: 2rem auto;
}

.validation {
  text-align: center;
  font-weight: 700;
  color: green;
  margin: 2rem auto;
}

footer {
  background-color: #2713D4;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

footer p {
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  h1 {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 2.2rem;
    margin: 2rem auto;
  }
  h2 {
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2rem;
    margin: 1.7rem auto;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1.5rem auto;
  }
}
@media (min-width: 792px) {
  body {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  h1 {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 3rem;
    margin: 3rem auto;
  }
  h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
    margin: 2rem auto;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem auto;
  }
}
/* ********** Header ********** */
#publicNav {
  background-color: #2713D4;
}

#membersNav {
  background-color: #005dff;
}

#adminNav {
  background-color: #00a3ff;
}

#adminNav a {
  color: #2713D4;
}

header nav {
  text-align: center;
  line-height: 3rem;
}

header nav a {
  color: rgb(255, 255, 255);
  font-weight: 700;
  margin: 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #publicNav a {
    margin: 0.5rem;
  }
  #adminNav a {
    margin: 0.5rem;
  }
}
@media (min-width: 792px) {
  #publicNav a {
    margin: 2.5rem;
  }
  #adminNav a {
    margin: 2.5rem;
  }
}
/* ********** Home ********** */
#home p :not(#homeFirstP) {
  text-align: justify;
}

#homeFirstP {
  text-align: center;
}

#home section p a {
  font-weight: 700;
  color: #2713D4;
}

#home section p a:hover {
  text-decoration: underline;
}

/* *** #homePresentation *** */
#homePresentation figure {
  margin: auto;
}

#homePresentation section {
  text-align: justify;
}

/* *** #homeActu *** */
#homeActu {
  background-color: #2713D4;
  color: #b4f4ff;
  margin: auto;
}

#homeActu h2 {
  padding-top: 0.5rem;
}

/* *** #homeChants *** */
#homeChants p {
  margin: 0 0.5rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #home h1 {
    width: 60vw;
  }
  #homeFirstP {
    margin-bottom: 0.8rem;
  }
  /* *** #homePresentation *** */
  #homePresentation {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr, auto, auto;
  }
  #homePresentation h2 {
    grid-row: 1;
    grid-column: 1/13;
  }
  #homePresentation figure {
    grid-column: 1/13;
    grid-row: 2;
  }
  #homePresentation section {
    grid-column: 2/12;
    grid-row: 3;
    padding: 0.5rem 0rem;
    margin-top: 1rem;
  }
  #homePresentation figure img {
    max-width: 60vw;
  }
  /* *** #homeActu *** */
  #homeActu {
    max-width: 95vw;
  }
  #homeActu li {
    display: grid;
    grid-template-rows: auto;
    margin-top: 1.5rem;
  }
  .homeActuH3 {
    font-size: 1.2rem;
    line-height: 2rem;
    grid-row: 1;
    text-align: left;
    padding: 0.5rem;
    margin: auto 0.5rem;
  }
  #homeActu ul li p {
    grid-row: 2;
    text-align: left;
    padding: 0.5rem;
    margin: auto 1.5rem;
  }
  /* *** #homeChants *** */
  .homeChantsArticle {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr, auto, auto;
  }
  .homeChantsArticle h3 {
    grid-row: 1;
    grid-column: 1/13;
  }
  .homeChantsArticle figure {
    grid-row: 3;
    grid-column: 1/13;
    margin: auto;
  }
  .homeChantsArticle p {
    grid-row: 2;
    grid-column: 1/13;
    padding: 0.5rem;
  }
  .homeChantsArticle .homeUrlVideo iframe {
    max-width: 80vw;
  }
  #logoBonus {
    max-width: 60vw;
    margin: 2rem auto;
  }
}
@media (min-width: 792px) {
  #homeFirstP {
    margin-bottom: 2rem;
  }
  /* *** #homePresentation *** */
  #homePresentation {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr, auto;
  }
  #homePresentation h2 {
    grid-row: 1;
    grid-column: 1/13;
  }
  #homePresentation figure {
    grid-column: 9/13;
    grid-row: 2;
  }
  #homePresentation section {
    grid-column: 1/9;
    grid-row: 2;
    padding: 0.5rem 1rem;
  }
  #homePresentation figure img {
    max-width: 28vw;
  }
  /* *** #homeActu *** */
  #homeActu {
    max-width: 90vw;
  }
  #homeActu li {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .homeActuH3 {
    font-size: 1.2rem;
    line-height: 2rem;
    grid-column: 1/5;
    text-align: right;
    padding: 0.5rem;
    margin: 0 0.5rem 0 auto;
  }
  #homeActu ul li p {
    grid-column: 5/13;
    text-align: left;
    padding: 0.5rem;
    margin: 0 auto 0 0.5rem;
  }
  /* *** #homeChants *** */
  .homeChantsArticle {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr, auto;
  }
  .homeChantsArticle h3 {
    grid-row: 1;
    grid-column: 1/13;
  }
  .homeChantsArticle figure {
    grid-row: 2;
    grid-column: 1/9;
    margin: auto;
  }
  .homeChantsArticle p {
    grid-row: 2;
    grid-column: 9/13;
    padding: 1rem;
  }
  .homeChantsArticle .homeUrlVideo iframe {
    max-width: 60vw;
  }
  #logoBonus {
    max-width: 25vw;
    margin: 4rem auto;
  }
}
/* ********** Contact ********** */
#contact p {
  text-align: center;
}

#contact p + p {
  margin-top: 1rem;
}

#contactForm {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#contactForm input[type=text],
#contactForm input[type=mail],
#contactForm textarea {
  margin: 0.5rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #contact p {
    margin: 2rem 1rem 0.5rem 1rem;
  }
  #contactForm {
    grid-template-rows: repeat(5, 1fr), auto, 1fr;
  }
  #contactForm label {
    margin: 0.6rem auto 0rem 0.5rem;
  }
  #mailAdressLabel {
    grid-row: 1;
    grid-column: 2/11;
  }
  #mailAdress {
    grid-row: 2;
    grid-column: 2/11;
    width: 80vw;
    height: 1.6rem;
  }
  #mailObjectLabel {
    grid-row: 3;
    grid-column: 2/11;
  }
  #mailObject {
    grid-row: 4;
    grid-column: 2/11;
    width: 80vw;
    height: 1.6rem;
  }
  #mailContentLabel {
    grid-row: 5;
    grid-column: 2/11;
  }
  #mailContent {
    grid-row: 6;
    grid-column: 2/11;
    width: 80vw;
    height: 5rem;
  }
  #contactFormSubmit {
    grid-row: 7;
    grid-column: 1/13;
    margin: auto;
  }
}
@media (min-width: 792px) {
  #contact p {
    margin: 8rem 1rem 0.5rem 1rem;
  }
  #contactForm {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  #contactForm label {
    margin: 0.5rem 0.5rem 0.5rem auto;
  }
  #mailAdressLabel {
    grid-row: 1;
    grid-column: 2/5;
  }
  #mailAdress {
    grid-row: 1;
    grid-column: 5/11;
    max-width: 100%;
    height: 1.6rem;
  }
  #mailObjectLabel {
    grid-row: 2;
    grid-column: 2/5;
  }
  #mailObject {
    grid-row: 2;
    grid-column: 5/11;
    max-width: 100%;
    height: 1.6rem;
  }
  #mailContentLabel {
    grid-row: 3;
    grid-column: 2/5;
  }
  #mailContent {
    grid-row: 3;
    grid-column: 5/11;
    max-width: 100%;
    height: 5rem;
  }
  #contactFormSubmit {
    grid-row: 4;
    grid-column: 1/13;
    margin: 0.5rem auto;
  }
}
/* ********** Connect ********** */
#connect p {
  margin: 1rem;
  text-align: center;
}

#connectUser {
  margin-top: 2rem;
  text-align: center;
}

#connectUser input {
  margin: 0.5rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #connectUser {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 2.5rem);
  }
  #emailForConnectionLabel {
    grid-row: 1;
    grid-column: 2/11;
  }
  #emailForConnection {
    grid-row: 2;
    grid-column: 2/11;
    margin: 0.5rem;
  }
  #pwForConnectionLabel {
    grid-row: 3;
    grid-column: 2/11;
  }
  #pwForConnection {
    grid-row: 4;
    grid-column: 2/11;
  }
  #connectUserSubmit {
    grid-row: 5;
    grid-column: 5/7;
  }
  #connectUser label {
    margin: 0.6rem auto 0.5rem 0.5rem;
  }
}
@media (min-width: 792px) {
  #connectUser {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 2.5rem);
  }
  #emailForConnectionLabel {
    grid-row: 1;
    grid-column: 2/5;
  }
  #emailForConnection {
    grid-row: 1;
    grid-column: 5/11;
    margin: 0.5rem;
  }
  #pwForConnectionLabel {
    grid-row: 2;
    grid-column: 2/5;
  }
  #pwForConnection {
    grid-row: 2;
    grid-column: 5/11;
  }
  #connectUserSubmit {
    grid-row: 3;
    grid-column: 6/8;
  }
  #connectUser label {
    margin: 0.6rem 0.2rem 0.5rem auto;
  }
}
/* ********** MembersHome ********** */
#membersHome h1 {
  max-width: 50vw;
}

#disconnect {
  text-align: right;
  margin-right: 2rem;
}

.membersHomeEvent {
  margin: 2rem;
  padding: 1rem;
  border: 4px solid #2713D4;
  border-radius: 8px;
}

.membersHomeEvent h3 {
  text-align: left;
}

.membersHomeEvent p {
  text-align: justify;
}

.setParticipationFieldset {
  padding-left: 3rem;
}

.setParticipationForm .button {
  margin-left: 4.5rem;
}

/* ********** MembersList ********** */
@media (min-width: 0px) and (max-width: 791.99px) {
  .membersListName {
    padding: 0.2rem 1.5rem;
  }
  .membersListEmail,
  .membersListTel {
    padding: 0.2rem 3rem;
  }
  .membersListItem {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 792px) {
  #membersList ul {
    display: grid;
    justify-content: center;
    margin: 10rem auto;
  }
  .membersListItem {
    display: grid;
    grid-template-columns: 15vw 30vw 20vw;
    grid-template-rows: auto;
  }
  .membersListItem p {
    padding: 1rem;
  }
}
/* ********** MembersSongs ********** */
#membersSongs p {
  text-align: center;
}

#membersSongs ul {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  margin-bottom: 3rem;
}

.songsForDetail {
  display: grid;
  justify-content: center;
  margin: auto;
}

.songsForDetail .button {
  margin: 1rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #membersSongs p {
    margin: 2rem auto 2rem auto;
  }
  #membersSongs ul {
    grid-template-columns: repeat(3, 30vw);
  }
}
@media (min-width: 792px) {
  #membersSongs p {
    margin: 10rem auto 2rem auto;
  }
  #membersSongs ul {
    grid-template-columns: repeat(5, 18vw);
  }
}
/* ********** MembersSongDetail ********** */
#membersSongDetail .songDetailDescr {
  margin: auto;
}

#membersSongDetail ul {
  display: grid;
  justify-content: center;
}

.songDetailFig {
  display: grid;
  grid-template-rows: 5rem;
}

.songDetailFigCap {
  margin: auto;
}

.songDetailAudio {
  margin: auto;
}

.songDetailVideo {
  text-align: center;
}

.songDetailText {
  margin: 2rem auto;
  max-width: 80vw;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #membersSongDetail .songDetailDescr {
    max-width: 95vw;
  }
  .songDetailAudio {
    max-width: 55vw;
    margin: auto;
  }
  .songDetailFig {
    grid-template-columns: 30vw 60vw;
  }
  .songDetailText {
    max-width: 95vw;
  }
  .songDetailText iframe {
    width: 100%;
    height: auto;
  }
  .songDetailVideo iframe {
    max-width: 95vw;
    margin: 1.5rem auto;
  }
}
@media (min-width: 792px) {
  .songDetailFigCap {
    font-size: 1.2rem;
  }
  #membersSongDetail .songDetailDescr {
    margin-top: 10rem;
    max-width: 80vw;
  }
  .songDetailFig {
    grid-template-columns: 15vw 45vw;
  }
  .songDetailText iframe {
    width: 100%;
    height: 500px;
  }
  .songDetailVideo {
    margin-top: 2rem;
  }
}
/* ********** MembersEvents ********** */
#membersEvents h2 {
  margin: 2rem auto;
}

.membersEventsItem {
  border: 4px solid #2713D4;
  border-radius: 8px;
}

.membEvPrivDet {
  text-align: justify;
}

.displayUpdateEventForm {
  text-align: center;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  .membersEventsItem {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, auto);
    margin: 1rem 0.3rem;
    padding: 0.5rem;
  }
  .membEvDate {
    grid-column: 1/6;
    grid-row: 1;
    margin: auto;
  }
  .membEvCatName {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1.5rem auto 1.5rem 0;
    grid-column: 6/13;
    grid-row: 1;
  }
  .membEvStat {
    grid-column: 6/12;
    grid-row: 2;
    text-align: right;
    margin: auto 0.5rem auto auto;
  }
  .membEvPres {
    grid-column: 2/13;
    grid-row: 3;
  }
  .membEvAbs {
    grid-column: 2/13;
    grid-row: 4;
  }
  .membEvNSP {
    grid-column: 2/13;
    grid-row: 5;
  }
  .membEvNRep {
    grid-column: 2/13;
    grid-row: 6;
  }
  .membEvPrivDet {
    grid-column: 2/12;
    grid-row: 7;
    padding: 0.5rem 0;
  }
  .displayUpdateEventForm {
    grid-column: 1/13;
    grid-row: 8;
    margin: auto;
  }
}
@media (min-width: 792px) {
  .membersEventsItem {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    margin: 4rem 1.5rem;
    border: 4px solid #2713D4;
    border-radius: 8px;
  }
  .membEvDate {
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
  }
  .membEvCatName {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1.5rem auto 1.5rem 0;
    grid-column: 3/5;
    grid-row: 1;
  }
  .membEvStat {
    grid-column: 10/12;
    grid-row: 1;
    margin: auto;
  }
  .membEvPres {
    grid-column: 2/4;
    grid-row: 2;
  }
  .membEvAbs {
    grid-column: 4/6;
    grid-row: 2;
  }
  .membEvNSP {
    grid-column: 6/8;
    grid-row: 2;
  }
  .membEvNRep {
    grid-column: 9/11;
    grid-row: 2;
  }
  .membEvPrivDet {
    grid-column: 2/12;
    grid-row: 3;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  }
  .displayUpdateEventForm {
    grid-column: 6/8;
    grid-row: 4;
  }
}
#membersEventDetail {
  margin: auto;
  padding: 0.5rem;
}

#membersEventDetail h1 {
  margin-top: 5rem;
}

#membersEventDetail h3 {
  text-align: left;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #membersEventDetail ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
  }
}
@media (min-width: 792px) {
  #membersEventDetail ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2rem;
  }
}
#membersChatP {
  text-align: center;
}

#displayAllMessages {
  margin-top: 4rem;
}

.displayAllMessagesTitle {
  text-align: left;
  margin-left: 2rem;
}

.displayAllMessagesMessage {
  margin-left: 3rem;
}

.displayAllMessagesName {
  margin-left: 3rem;
}

.displayAllMessagesDate {
  margin-left: 3rem;
}

.displayAllMessagesAwser {
  margin-top: 2rem;
  margin-left: 5rem;
}

.displayAllMessagesAwserName {
  margin-left: 5rem;
}

.displayAllMessagesAwserDate {
  margin-left: 5rem;
}

#chatAnswerForm {
  margin-top: 1rem;
  margin-left: 7rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #sendNewChatItem {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  #sendNewChatItem h2 {
    grid-column: 1/13;
    grid-row: 1;
    margin: auto;
  }
  #newChatForm {
    display: grid;
    grid-column: 1/13;
    grid-row: 2/5;
    grid-template-columns: subgrid;
  }
  .newChatTitleField {
    grid-column: 2/12;
    grid-row: 2;
    margin: 1rem 3rem 1rem auto;
  }
  #newChatTitle {
    width: 80vw;
  }
  .newChatContentField {
    grid-column: 2/12;
    grid-row: 3;
    margin: 1rem 3rem 1rem auto;
  }
  #newChatContent {
    width: 80vw;
    height: 10rem;
  }
  .newChatButton {
    grid-column: 1/13;
    grid-row: 4;
    margin: auto;
  }
  #chatAnswerMessage {
    width: 60vw;
    height: 5rem;
  }
}
@media (min-width: 792px) {
  #sendNewChatItem {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  #sendNewChatItem h2 {
    grid-column: 1/13;
    grid-row: 1;
    margin: 1rem auto;
  }
  #newChatForm {
    display: grid;
    grid-column: 1/13;
    grid-row: 2/5;
    grid-template-columns: subgrid;
  }
  .newChatTitleField {
    grid-column: 1/13;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  .newChatTitleField label {
    grid-column: 1/3;
    grid-row: 1;
    text-align: right;
    margin: 1rem;
  }
  .newChatTitleField input {
    grid-column: 3/11;
    grid-row: 1;
    margin: 1rem;
  }
  #newChatTitle {
    max-width: 100%;
  }
  .newChatContentField {
    grid-column: 1/13;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  .newChatContentField label {
    grid-column: 1/3;
    text-align: right;
    margin: 1rem;
  }
  #newChatContent {
    grid-column: 3/11;
    max-width: 100%;
    margin: 1rem;
  }
  .newChatButton {
    grid-column: 1/13;
    grid-row: 4;
    margin: 1rem auto;
  }
  #chatAnswerMessage {
    max-width: 100%;
    height: 5rem;
  }
}
#membersSharingZone {
  margin: auto;
  padding: 0.5rem;
}

.membersSharingZoneP {
  text-align: center;
}

.membersSharingZoneH2 {
  margin-top: 4rem;
}

.sharingMessageForm {
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.newSharingMessageButton {
  text-align: center;
  display: grid;
  justify-content: center;
  margin: 1rem auto;
}

.displayAllSharesCat {
  text-align: left;
}

.displayAllSharesTitle {
  text-align: left;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  .displayAllShares {
    margin-top: 2rem;
  }
  .displayAllSharesCat {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .displayAllSharesTitle {
    margin-left: 1rem;
  }
  .displayAllSharesMessage {
    margin-left: 1.5rem;
  }
  .displayAllSharesName {
    margin-left: 1.5rem;
  }
  .displayAllSharesDate {
    margin-left: 1.5rem;
  }
  .displayAllSharesAwser {
    margin-top: 1rem;
    margin-left: 2.5rem;
  }
  .displayAllSharesAwserName {
    margin-left: 2.5rem;
  }
  .displayAllSharesAwserDate {
    margin-left: 2.5rem;
  }
  #displayAllSharesForm {
    margin: 1rem 3.5rem 0 3.5rem;
  }
  #displayAllSharesForm .button {
    display: grid;
    margin: 1rem auto;
  }
  #shareAnswerContent {
    max-width: 75vw;
  }
}
@media (min-width: 792px) {
  .sharingMessageForm {
    margin: 1rem 10rem;
  }
  .displayAllShares {
    margin-top: 4rem;
  }
  .displayAllSharesCat {
    margin-top: 4rem;
    margin-left: 2rem;
  }
  .displayAllSharesTitle {
    margin-left: 2rem;
  }
  .displayAllSharesMessage {
    margin-left: 3rem;
  }
  .displayAllSharesName {
    margin-left: 3rem;
  }
  .displayAllSharesDate {
    margin-left: 3rem;
  }
  .displayAllSharesAwser {
    margin-top: 2rem;
    margin-left: 5rem;
  }
  .displayAllSharesAwserName {
    margin-left: 5rem;
  }
  .displayAllSharesAwserDate {
    margin-left: 5rem;
  }
  #displayAllSharesForm {
    margin-top: 1rem;
    margin-left: 7rem;
  }
}
#membersShareByCatP {
  text-align: center;
}

#shareAnswerForm {
  margin-top: 1rem;
  margin-left: 7rem;
}

#newShare {
  margin: auto;
  padding: 0.5rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #newShare h1 {
    max-width: 60vw;
  }
  #newShare p {
    text-align: center;
  }
  #newShare ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
  }
  #sendNewShare p {
    grid-column: 1/13;
    grid-row: 1;
    margin: auto;
  }
  #sendNewShare {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  #newShareForm {
    display: grid;
    grid-column: 1/13;
    grid-row: 2/5;
    grid-template-columns: subgrid;
  }
  .newShareTitleField {
    grid-column: 2/12;
    grid-row: 2;
    margin: 1rem 3rem 1rem auto;
  }
  #newShareTitle {
    width: 80vw;
  }
  .newShareContentField {
    grid-column: 2/12;
    grid-row: 3;
    margin: 1rem 3rem 1rem auto;
  }
  #newShareContent {
    width: 80vw;
    height: 10rem;
  }
  .newShareButton {
    grid-column: 1/13;
    grid-row: 4;
    margin: auto auto 2rem auto;
  }
}
@media (min-width: 792px) {
  #newShare h1 {
    max-width: 40vw;
  }
  #newShare p {
    text-align: center;
  }
  #newShare ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 0.5rem 10rem;
  }
  #newShare ul li {
    margin: auto;
  }
  #sendNewShare {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  #sendNewShare p {
    grid-column: 1/13;
    grid-row: 1;
    margin: 1rem auto;
  }
  #newShareForm {
    display: grid;
    grid-column: 1/13;
    grid-row: 2/5;
    grid-template-columns: subgrid;
  }
  .newShareTitleField {
    grid-column: 1/13;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  .newShareTitleField label {
    grid-column: 1/3;
    grid-row: 1;
    text-align: right;
    margin: 1rem;
  }
  .newShareTitleField input {
    grid-column: 3/11;
    grid-row: 1;
    margin: 1rem;
  }
  #newShareTitle {
    max-width: 100%;
  }
  .newShareContentField {
    grid-column: 1/13;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  .newShareContentField label {
    grid-column: 1/3;
    text-align: right;
    margin: 1rem;
  }
  #newShareContent {
    grid-column: 3/11;
    max-width: 100%;
    margin: 1rem;
  }
  .newShareButton {
    grid-column: 1/13;
    grid-row: 4;
    margin: 1rem auto;
  }
}
#membersVideos p {
  text-align: center;
}

.membersVideosArt {
  display: grid;
  justify-content: center;
  margin: 2rem auto;
  padding: 0.5rem;
}

#membersAccounts {
  margin: auto;
  padding: 0.5rem;
}

#membersAccountsFirstP {
  text-align: center;
}

#membersAccounts table {
  border: 4px solid #2713D4;
  border-collapse: collapse;
  margin: 2rem auto;
}

#membersAccounts th,
#membersAccounts tr {
  border: 2px solid #2713D4;
  border-collapse: collapse;
  padding: 0.5rem;
}

#membersAccounts th {
  border-bottom: 4px solid #2713D4;
}

#membersAccounts td {
  border: 2px solid #2713D4;
  border-collapse: collapse;
  padding: 0.5rem;
}

.alignR {
  text-align: right;
}

.tableFooter {
  font-weight: 700;
}

.total {
  text-align: center;
}

#membersAccounts h2 {
  text-align: left;
}

#membersAccountsCom {
  margin-top: 4rem;
}

#membersAccountsCom p {
  margin-left: 2rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #membersAccountsSect table {
    font-size: 0.8rem;
  }
  #membersAccountsFirstP {
    margin-top: 3rem;
  }
}
@media (min-width: 792px) {
  #membersAccountsFirstP {
    margin-top: 8rem;
  }
  #membersAccountsSect table {
    font-size: 1.2rem;
  }
}
#adminSongs p {
  text-align: center;
  margin: auto;
}

#newSong {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}

#newSongTitleFieldset {
  grid-row: 1;
  margin: 1rem auto;
}

#newSongDescriptionLabel {
  vertical-align: top;
}

#newSongDescriptionFieldset {
  grid-row: 2;
  margin: 1rem auto;
}

#newSong .button {
  grid-row: 3;
  margin: 1rem auto;
}

#chooseASong h3 {
  margin-top: 3rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #adminSongs p {
    max-width: 80vw;
  }
  #chooseASong ul li {
    margin: auto 1rem;
  }
  #newSongDescription {
    width: 60vw;
  }
  .chooseSongArt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: right;
    padding: 0.5rem;
  }
  #chooseASong ul li:nth-child(even) {
    background-color: #b4f4ff;
  }
  .chooseSongArt {
    border: 1px solid #2713D4;
    border-radius: 8px;
  }
  #outOfCatSongs li + li,
  #currentYearSongs li + li,
  #sharedSong li + li,
  #oldSongs li + li {
    margin-top: 2rem;
  }
  .chooseSongArtTitle {
    grid-column: 1/3;
    grid-row: 1;
    margin: auto;
    font-weight: 700;
  }
  .addVoice {
    grid-column: 1;
    grid-row: 2;
  }
  .addText {
    grid-column: 2;
    grid-row: 2;
  }
  .addVideo {
    grid-column: 1;
    grid-row: 3;
  }
  .modify {
    grid-column: 2;
    grid-row: 3;
  }
  .chooseSongArt form {
    text-align: center;
    padding: 0.5rem;
    margin: auto;
  }
  #chooseASong h3 {
    text-align: center;
  }
}
@media (min-width: 792px) {
  #adminSongs p {
    max-width: 50vw;
  }
  #adminSongs section {
    margin-top: 5rem;
  }
  #chooseASong ul li {
    margin: auto 4rem;
  }
  #chooseASong ul li:nth-child(even) {
    background-color: #b4f4ff;
    border: 1px solid #2713D4;
    border-radius: 8px;
  }
  .chooseSongArt {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
  }
  .chooseSongArt {
    text-align: right;
    padding: 0.2rem;
  }
  .chooseSongArt h4 {
    margin: auto auto auto 2rem;
  }
  .chooseSongArt form {
    text-align: center;
    padding: 0.5rem;
    margin: auto;
  }
  #chooseASong h3 {
    text-align: left;
  }
}
@media (min-width: 0px) and (max-width: 791.99px) {
  #adminAddText h1 {
    width: 70vw;
  }
}
@media (min-width: 0px) and (max-width: 791.99px) {
  #adminAddVideo h1 {
    width: 70vw;
  }
  .addVideo .button {
    display: grid;
    margin: 1rem auto;
  }
}
.changeSongItemArt form {
  margin: auto;
}

#chooseVoiceType,
#chooseAFile {
  margin-left: 2rem;
}

#chooseVoiceType fieldset,
#chooseAFile input {
  margin-left: 2rem;
}

#chooseAFile {
  margin-top: 2rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #adminAddVoice h1 {
    width: 70vw;
  }
  .changeSongItemArt {
    margin: 2rem auto;
    display: grid;
    grid-template-rows: repeat(4, auto);
  }
  #adminAddVoice .uploader .button {
    display: grid;
    margin: 1rem auto;
  }
}
@media (min-width: 792px) {
  .changeSongItemArt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    margin: 2rem 10rem;
  }
  .changeSongItemArt h3 {
    grid-row: 1;
    grid-column: 1/4;
  }
  .changeSongItemArt form {
    grid-row: 2;
  }
  #adminAddVoice .uploader .button {
    margin: 1rem 8rem;
  }
}
#adminModify h1 {
  width: 70vw;
}

#updateSong {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}

#updateSongTitleFieldset {
  grid-row: 1;
  margin: 1rem auto;
}

#updateSongDescriptionLabel {
  vertical-align: top;
}

#updateSongDescriptionFieldset {
  grid-row: 2;
  margin: 1rem auto;
}

#updateSong .button {
  grid-row: 3;
  margin: 1rem auto;
}

#changeCat .button {
  display: grid;
  margin: 1rem 4rem;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #updateSongDescription {
    width: 60vw;
  }
  #changeCat .button {
    display: grid;
    margin: 1rem auto;
  }
}
#adminEvents {
  padding: 0.5rem;
}

#createNewEvent {
  margin-top: 7rem;
}

#privateDetailsLabel,
#publicDetailsLabel {
  vertical-align: top;
}

#privateDetailsFieldset,
#publicDetailsFieldset {
  margin-top: 1rem;
}

#createNewEvent .button {
  display: grid;
  margin: 1rem auto;
}

#newEventInfos h2,
#otherEvents h3 {
  text-align: left;
}

#newEventInfos p {
  text-align: justify;
}

#displayUpdateEventForm {
  text-align: center;
}

#otherEvents p {
  margin: 1rem;
  text-align: justify;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #newEventInfos,
  #otherEvents {
    margin-top: 2rem;
  }
  #otherEvents li {
    margin: 2rem 0;
  }
  textarea {
    width: 60vw;
  }
}
@media (min-width: 792px) {
  #newEventInfos,
  #otherEvents {
    margin-top: 3rem;
  }
  #otherEvents li {
    margin: 3rem 0;
  }
}
#dateFieldset,
#privateDetailsFieldset,
#publicDetailsFieldset {
  margin-top: 1rem;
}

#privateDetailsFieldset label,
#publicDetailsFieldset label {
  vertical-align: top;
}

#updateEventForm .button {
  display: grid;
  margin: 1rem auto;
}

@media (min-width: 0px) and (max-width: 791.99px) {
  #adminUpdateEvents h1 {
    width: 70vw;
  }
}
@media (min-width: 792px) {
  #updateEventForm {
    margin-top: 7rem;
  }
}

/*# sourceMappingURL=style.css.map */
