/* ********** AdminAddVideo ********** */

@media(min-width: 0px) and (max-width: 791.99px)
{
      #adminAddVideo h1{
            width: 70vw;
      }

      .addVideo .button{
            display: grid;
            margin: 1rem auto;
      }
}