/* ********** AdminSongs ********** */

#adminSongs p{
      text-align: center;
      margin: auto;
}

#newSong{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
}

#newSongTitleFieldset{
      grid-row: 1;
      margin: 1rem auto;
}

#newSongDescriptionLabel{
      vertical-align: top;
}

#newSongDescriptionFieldset{
      grid-row: 2;
      margin: 1rem auto;
}

#newSong .button{
      grid-row: 3;
      margin: 1rem auto;
}

#chooseASong h3{
      margin-top: 3rem;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
      #adminSongs p{
            max-width: 80vw;
      }
      
      #chooseASong ul li{
            margin: auto 1rem;
      }

      #newSongDescription{
            width: 60vw;
      }
      
      .chooseSongArt{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);

            text-align: right;
            padding: 0.5rem;
      }

      #chooseASong ul li:nth-child(even){
            background-color: $lighterBlue;
      }

      .chooseSongArt{
            border: 1px solid $blue;
            border-radius: 8px;
      }

      #outOfCatSongs  li + li,
      #currentYearSongs li + li,
      #sharedSong li + li,
      #oldSongs li + li{
            margin-top: 2rem;
      }

      .chooseSongArtTitle{
            grid-column: 1/3;
            grid-row: 1;
            margin: auto;
            font-weight: 700;
      }

      .addVoice{
            grid-column: 1;
            grid-row: 2;
      }
      
      .addText{
            grid-column: 2;
            grid-row: 2;
      }

      .addVideo{
            grid-column: 1;
            grid-row: 3;
      }

      .modify{
            grid-column: 2;
            grid-row: 3;
      }

      .chooseSongArt form{
            text-align: center;
            padding: 0.5rem;
            margin: auto;
      }

      #chooseASong h3{
            text-align: center;
      }
      
}

@media(min-width: 792px)
{
      #adminSongs p{
            max-width: 50vw;
      }
                  
      #adminSongs section{
            margin-top: 5rem;
      }

      #chooseASong ul li{
            margin: auto 4rem;
      }

      #chooseASong ul li:nth-child(even){
            background-color: $lighterBlue;
            border: 1px solid $blue;
            border-radius: 8px;
      }

      .chooseSongArt{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-flow: column;
      }
      
      .chooseSongArt{
            text-align: right;
            padding: 0.2rem;
      }

      .chooseSongArt h4{
            margin: auto auto auto 2rem;
      }
      
      .chooseSongArt form{
            text-align: center;
            padding: 0.5rem;
            margin: auto;
      }
      
      #chooseASong h3{
            text-align: left;
      }
}