/* ********** AdminEvents ********** */

#adminEvents{
      padding: 0.5rem;
}

#createNewEvent{
      margin-top: 7rem;
}

#privateDetailsLabel,
#publicDetailsLabel{
      vertical-align: top;
}

#privateDetailsFieldset,
#publicDetailsFieldset{
      margin-top: 1rem;
}

#createNewEvent .button{
      display: grid;
      margin: 1rem auto;
}

#newEventInfos h2,
#otherEvents h3{
      text-align: left;
}

#newEventInfos p{
      text-align: justify;
}

#displayUpdateEventForm{
      text-align: center;
}

#otherEvents p:not(.empty){
      margin: 1rem;
      text-align: justify;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
      #newEventInfos,
      #otherEvents{
            margin-top: 2rem;
      }

      #otherEvents li{
            margin: 2rem 0;
      }

      textarea{
            width: 60vw;
      }
}

@media(min-width: 792px)
{
      #newEventInfos,
      #otherEvents{
            margin-top: 3rem;
      }

      #otherEvents li{
            margin: 3rem 0;
      }
}
