#adminSongs p{
      text-align: center;
      margin: auto;
}

#newSong{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(3, auto);
}

#newSongTitleFieldset{
      grid-row: 1;
      margin: 1rem auto;
}

#newSongDescriptionLabel{
      vertical-align: top;
}

#newSongDescriptionFieldset{
      grid-row: 2;
      margin: 1rem auto;

}

#newSong .button{
      grid-row: 3;
      margin: 1rem auto;
}

#chooseASong ul li:nth-child(even){
      background-color: $lighterBlue;
      border: 1px solid $blue;
      border-radius: 8px;
}

#chooseASong h3{
      margin-top: 3rem;
      text-align: left;
}

.chooseSongArt h4{
      margin: auto auto auto 2rem;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
      #adminSongs p{
            max-width: 80vw;
      }
      
      #chooseSong li{
            margin: auto 2rem;
      }

      #newSongDescription{
            width: 60vw;
      }
      
      .chooseSongArt{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-flow: column;
      }
      
      .chooseSongArt article{
            text-align: right;
            padding: 0.5rem;
      }
      
      .chooseSongArt form{
            text-align: center;
            padding: 0.5rem;
            margin: auto;
      }
      
}

@media(min-width: 792px)
{
      #adminSongs p{
            max-width: 50vw;
      }
                  
      #adminSongs section{
            margin-top: 5rem;
      }

      #chooseSong li{
            margin: auto 4rem;
      }

      .chooseSongArt{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-flow: column;
      }
      
      .chooseSongArt article{
            text-align: right;
            padding: 0.5rem;
      }
      
      .chooseSongArt form{
            text-align: center;
            padding: 0.5rem;
            margin: auto;
      }
      
}