/* ********** Contact ********** */
#contact p{
      margin: 0 1rem 1rem 1rem;
}

#contactForm{
      display: grid;
      grid-template-columns: $gridTempCol;
}

#contactForm input,
#contactForm textarea{
      margin: 0.5rem;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
      #contactForm{
            grid-template-rows: repeat(5, 1fr), auto, 1fr;
      }

      #contactForm label{
            margin: 0.6rem auto 0rem 0.5rem;
      }
      
      #mailAdressLabel{
            grid-row: 1;
            grid-column: 2/11
      }
      
      #mailAdress{
            grid-row: 2;
            grid-column: 2/11;
            width: 80vw;
            height: 1.6rem;
      }
      
      #mailObjectLabel{
            grid-row: 3;
            grid-column: 2/11;
      }
      
      #mailObject{
            grid-row: 4;
            grid-column: 2/11;
            width: 80vw;
            height: 1.6rem;
      }
      
      #mailContentLabel{
            grid-row: 5;
            grid-column: 2/11;
      }
      
      #mailContent{
            grid-row: 6;
            grid-column: 2/11;
            width: 80vw;
            height: 5rem;
      }
      
      #contactFormSubmit{
            grid-row: 7;
            grid-column: 6;
      }
      
}

@media(min-width: 792px){
      #contactForm{
            display: grid;
            grid-template-columns: $gridTempCol;
            grid-template-rows: repeat(4, auto);
      }
      
      #contactForm input,
      #contactForm textarea{
            margin: 0.5rem;
      }

      #contactForm label{
            margin: 0.5rem 0.5rem 0.5rem auto;
      }
      
      #contactForm label{
            margin: 0.5rem 0.5rem 0.5rem auto;
      }
      
      #mailAdressLabel{
            grid-row: 1;
            grid-column: 2/5;
      }
      
      #mailAdress{
            grid-row: 1;
            grid-column: 5/11;
            max-width: 100%;
            height: 1.6rem;
      }
      
      #mailObjectLabel{
            grid-row: 2;
            grid-column: 2/5;
      }
      
      #mailObject{
            grid-row: 2;
            grid-column: 5/11;
            max-width: 100%;
            height: 1.6rem;
      }
      
      #mailContentLabel{
            grid-row: 3;
            grid-column: 2/5;
      }
      
      #mailContent{
            grid-row: 3;
            grid-column: 5/11;
            max-width: 100%;
            height: 5rem;
      }
      
      #contactFormSubmit{
            grid-row: 4;
            grid-column: 5;
      }
}