/* ********** Header ********** */

#publicNav{
      background-color: $blue;
}

#membersNav{
      background-color: $lightBlue;
}

#adminNav{
      background-color: $lightBlue2;
}

#adminNav a{
      color: $blue;
}

header nav{
      text-align: center;
      line-height: 3rem;
}

header nav a{
      color: $lighterBlue;
      font-weight: 700;
      margin: 1rem;
}

header nav a:hover{
      text-decoration: underline;
}

@media(min-width: 0px) and (max-width: 791.99px){
      #publicNav a{
            margin: 0.5rem;
      }
      
      #adminNav a{
            margin: 0.5rem;
      }
}

@media(min-width: 792px){
      #publicNav a{
            margin: 2.5rem;
      }
      
      #adminNav a{
            margin: 2.5rem;
      }
}




