/* ********** Home ********** */

#home p :not(#homeFirstP){
      text-align: justify;
}

#homeFirstP{
      text-align: center;
}

#home section p a{
      font-weight: 700;
      color: $blue;
}

/* *** #homePresentation *** */

#homePresentation figure{
      margin: auto;
}

#homePresentation section{
      text-align: justify;
}

/* *** #homeActu *** */

#homeActu{
      background-color: $blue;
      color: $lighterBlue;
      margin: auto;
}

#homeActu h2{
      padding-top: 0.5rem;
}

/* *** #homeChants *** */

#homeChants p{
      margin: 0 0.5rem;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
      #home h1{
            width: 60vw;
      }

      #homeFirstP{
            margin-bottom: 0.8rem;
      }

      #home section p a:hover{
            text-decoration: underline;
      }

      /* *** #homePresentation *** */

      #homePresentation{
            display: grid;
            grid-template-columns: $gridTempCol;
            grid-template-rows: 1fr, auto, auto;
      }

      #homePresentation h2{
            grid-row: 1;
            grid-column: 1/13;
      }

      #homePresentation figure{
            grid-column: 1/13;
            grid-row: 2;
      }

      #homePresentation section{
            grid-column: 2/12;
            grid-row: 3;
            padding: 0.5rem 0rem;
            margin-top: 1rem;
      }

      #homePresentation figure img{
            max-width: 60vw;
      }

      /* *** #homeActu *** */

      #homeActu{
            max-width: 95vw;
      }

      #homeActu li{
            display: grid;
            grid-template-rows: auto;
            margin-top: 1.5rem;
      }
      
      .homeActuH3{
            font-size: $fontSizeDefault;
            line-height: $lineHeight;
            grid-row: 1;
            text-align: left;
            padding: 0.5rem;
            margin: auto 0.5rem;
      }
      
      #homeActu ul li p{
            grid-row: 2;
            text-align: left;
            padding: 0.5rem;
            margin: auto 1.5rem;
      }
      
      
      /* *** #homeChants *** */

      .homeChantsArticle{
            margin-top: 1rem;
            display: grid;
            grid-template-columns: $gridTempCol;
            grid-template-rows: 1fr, auto, auto;
      }

      .homeChantsArticle h3{
            grid-row: 1;
            grid-column: 1/13;
      }

      .homeChantsArticle figure{
            grid-row: 3;
            grid-column: 1/13;
            margin: auto;
      }

      .homeChantsArticle p{
            grid-row: 2;
            grid-column: 1/13;
            padding: 0.5rem;
      }

      .homeChantsArticle .homeUrlVideo iframe{
            max-width: 80vw;
      }

      #logoBonus{
            max-width: 60vw;
            margin: 2rem auto;
      }
}

@media(min-width: 792px)
{
      #homeFirstP{
            margin-bottom: 2rem;
      }

      /* *** #homePresentation *** */

      #homePresentation{
            display: grid;
            grid-template-columns: $gridTempCol;
            grid-template-rows: 1fr, auto;
      }

      #homePresentation h2{
            grid-row: 1;
            grid-column: 1/13;
      }

      #homePresentation figure{
            grid-column: 9/13;
            grid-row: 2;
      }

      #homePresentation section{
            grid-column: 1/9;
            grid-row: 2;
            padding: 0.5rem 1rem;
      }

      #homePresentation figure img{
            max-width: 28vw;
      }

      /* *** #homeActu *** */

      #homeActu{
            max-width: 90vw;
      }

      #homeActu li{
            display: grid;
            grid-template-columns: $gridTempCol;
            grid-template-rows: auto;
      }
      
      .homeActuH3{
            font-size: $fontSizeDefault;
            line-height: $lineHeight;
            grid-column: 1/5;
            text-align: right;
            padding: 0.5rem;
            margin: 0 0.5rem 0 auto;
      }
      
      #homeActu ul li p{
            grid-column: 5/13;
            text-align: left;
            padding: 0.5rem;
            margin: 0 auto 0 0.5rem;
      }

      /* *** #homeChants *** */

      .homeChantsArticle{
            margin-top: 2rem;
            display: grid;
            grid-template-columns: $gridTempCol;
            grid-template-rows: 1fr, auto;
      }

      .homeChantsArticle h3{
            grid-row: 1;
            grid-column: 1/13;
      }

      .homeChantsArticle figure{
            grid-row: 2;
            grid-column: 1/9;
            margin: auto;
      }

      .homeChantsArticle p{
            grid-row: 2;
            grid-column: 9/13;
            padding: 1rem;
      }

      .homeChantsArticle .homeUrlVideo iframe{
            max-width: 60vw;
      }

      #logoBonus{
            max-width: 25vw;
            margin: 4rem auto;
      }
}