/* ********** MembersEvents ********** */

.membersEventsItem{
	border: 4px solid $blue;
	border-radius: 8px;
}

.membEvPrivDet{
	text-align: justify;
}

.displayUpdateEventForm{
	text-align: center;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
	.membersEventsItem{
		display: grid;
		grid-template-columns: $gridTempCol;
		grid-template-rows: repeat(8, auto);
		margin: 1rem 0.3rem;
		padding: 0.5rem;
	}
	
	.membEvDate{
		grid-column: 1/6;
		grid-row: 1;
		margin: auto;
	}
	
	.membEvCatName{
		font-size: 1.4rem;
		font-weight: 700;
		margin: 1.5rem auto 1.5rem 0;
		grid-column: 6/13;
		grid-row: 1;
	}
	
	.membEvStat{
		grid-column: 6/12;
		grid-row: 2;
		text-align: right;
		margin: auto 0.5rem auto auto;
	}
	
	.membEvPres{
		grid-column: 2/13;
		grid-row: 3;
	}
	
	.membEvAbs{
		grid-column: 2/13;
		grid-row: 4;
	}
	
	.membEvNSP{
		grid-column: 2/13;
		grid-row: 5;
	}
	
	.membEvNRep{
		grid-column: 2/13;
		grid-row: 6;
	}
	
	.membEvPrivDet{
		grid-column: 2/12;
		grid-row: 7;
		padding: 0.5rem 0;
	}
	
	.displayUpdateEventForm{
		grid-column: 1/13;
		grid-row: 8;
		margin: auto;
	}
}

@media(min-width: 792px)
{
	.membersEventsItem{
		display: grid;
		grid-template-columns: $gridTempCol;
		grid-template-rows: repeat(4, auto);
		margin-top: 2rem;
		border: 4px solid $blue;
		border-radius: 8px;
	}
	
	.membEvDate{
		grid-column: 1/3;
		grid-row: 1;
		margin: auto;
	}
	
	.membEvCatName{
		font-size: 1.4rem;
		font-weight: 700;
		margin: 1.5rem auto 1.5rem 0;
		grid-column: 3/5;
		grid-row: 1;
	}
	
	.membEvStat{
		grid-column: 10/12;
		grid-row: 1;
		margin: auto;
	}
	
	.membEvPres{
		grid-column: 2/4;
		grid-row: 2;
	}
	
	.membEvAbs{
		grid-column: 4/6;
		grid-row: 2;
	}
	
	.membEvNSP{
		grid-column: 6/8;
		grid-row: 2;
	}
	
	.membEvNRep{
		grid-column: 9/11;
		grid-row: 2;
	}
	
	.membEvPrivDet{
		grid-column: 2/12;
		grid-row: 3;
		padding: 1.5rem 1.5rem 0.5rem 1.5rem;
	}
	
	.displayUpdateEventForm{
		grid-column: 6/8;
		grid-row: 4;
	}
}