/* ********** MembersSongDetail ********** */

#membersSongDetail .songDetailDescr{
      margin: auto;
}

#membersSongDetail ul{
      display: grid;
      justify-content: center;
}

.songDetailFig{
      display: grid;
      grid-template-rows: 5rem;
}

.songDetailFigCap{
      margin: auto;
}

.songDetailAudio{
      margin: auto;
}

.songDetailVideo{
      text-align: center;
}

.songDetailText{
      margin: 2rem auto;
      max-width: 80vw;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
      #membersSongDetail .songDetailDescr{
            max-width: 95vw;
      }

      .songDetailAudio{
            max-width: 55vw;
            margin: auto;
      }      

      .songDetailFig{
            grid-template-columns: 30vw 60vw;
      }

      .songDetailText{
            max-width: 95vw;      }
      
      .songDetailText iframe{
            width: 100%;
            height: auto;
      }

      .songDetailVideo iframe{
            max-width: 95vw;
            margin: 1.5rem auto;
      }
}

@media(min-width: 792px)
{
      #membersSongDetail .songDetailDescr{
            max-width: 80vw;
      }

      .songDetailFig{
            grid-template-columns: 15vw 45vw;
      }
      
      .songDetailText iframe{
            width: 100%;
            height: 500px;
      }

      .songDetailVideo{

      }
}