/* ********** MembersSongs ********** */

#membersSongs ul{
      display: grid;
      grid-template-columns: repeat(5, 18vw);
      grid-template-rows: auto;
      justify-content: center;
}

.songsForDetail{
      display: grid;
      justify-content: center;
      margin: auto;
}

.songsForDetail .button{
      margin: 1rem;
}