/* ********** MembersList ********** */


#membersList ul{
      display: grid;
      justify-content: center;
      margin: auto;
}

.membersListItem{
      display: grid;
      grid-template-columns: 15vw 30vw 20vw;
      grid-template-rows: auto;
}

.membersListItem p{
      padding: 1rem;
}