

#membersHome h1{
      max-width: 60vw;
}

#disconnect{
      text-align: right;
      margin-right: 2rem;
}

.membersHomeEvent{
      margin: 2rem;
}

.membersHomeEvent h3{
      text-align: left;
}

.membersHomeEvent p{
      text-align: justify;
}

.setParticipationForm{
      margin-bottom: 2rem;
}

.setParticipationFieldset{
      padding-left: 3rem;
}

.setParticipationForm .button{
      margin-left: 4.5rem;
}
