/* ********** MembersSongs ********** */

#membersSongs p{
      text-align: center;
}

#membersSongs ul{
      display: grid;
      grid-template-rows: auto;
      justify-content: center;
      margin-bottom: 3rem;
}
      
.songsForDetail{
      display: grid;
      justify-content: center;
      margin: auto;
}

.songsForDetail .button{
      margin: 1rem;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
      #membersSongs p{
            margin: 2rem auto 2rem auto;
      }

      #membersSongs ul{
            grid-template-columns: repeat(3, 30vw);
      }
}

@media(min-width: 792px)
{
      #membersSongs p{
            margin: 10rem auto 2rem auto;
      }

      #membersSongs ul{
            grid-template-columns: repeat(5, 18vw);
      }
}