/* ********** MembersNewShare ********** */

#newShare{
      margin: auto;
      padding: 0.5rem;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
      #newShare h1{
            max-width: 60vw;
      }

      #newShare p{
            text-align: center;
      }

	#newShare ul{
		display: grid;
		grid-template-columns: repeat(5, auto);
	}
      
      #sendNewShare p{
            grid-column: 1/13;
            grid-row: 1;
            margin: auto;
      }

      #sendNewShare{
            margin-top: 2rem;
            display: grid;
            grid-template-columns: $gridTempCol;
            grid-template-rows: repeat(4, auto);
      }
      
      #newShareForm{
            display: grid;
            grid-column: 1/13;
            grid-row: 2/5;
            grid-template-columns: subgrid;
      }

      .newShareTitleField{
            grid-column: 2/12;
            grid-row: 2;
            margin: 1rem 3rem 1rem auto;
      }

      #newShareTitle{
            width:80vw;
      }

      .newShareContentField{
            grid-column: 2/12;
            grid-row: 3;
            margin: 1rem 3rem 1rem auto;
      }

      #newShareContent{
            width:80vw;
            height: 10rem;
      }

      .newShareButton{
            grid-column: 1/13;
            grid-row: 4;
            margin: auto auto 2rem auto;
      }        
}

@media(min-width: 792px)
{
      #newShare h1{
            max-width: 40vw;
      }

      #newShare p{
            text-align: center;
      }

	#newShare ul{
		display: grid;
		grid-template-columns: repeat(5, auto);
		margin: 0.5rem 10rem;
	}

	#newShare ul li{
            margin: auto;
      }

      #sendNewShare{
		margin-top: 2rem;
		display: grid;
		grid-template-columns: $gridTempCol;
		grid-template-rows: repeat(4, auto);
      }

      #sendNewShare p{
		grid-column: 1/13;
		grid-row: 1;
		margin: 1rem auto;
	}
      
      #newShareForm{
		display: grid;
		grid-column: 1/13;
		grid-row: 2/5;
		grid-template-columns: subgrid;
      }

      .newShareTitleField{
		grid-column: 1/13;
		grid-row: 2;
		display: grid;

		grid-template-columns: repeat(10, 1fr);
      }

      .newShareTitleField label{
		grid-column: 1/3;
		grid-row: 1;

		text-align: right;
		margin: 1rem;
	}

	.newShareTitleField input{
		grid-column: 3/11;
		grid-row: 1;
		margin: 1rem;
	}

      #newShareTitle{
		max-width:100%;
	}

      .newShareContentField{
		grid-column: 1/13;
		grid-row: 3;
		display: grid;

		grid-template-columns: repeat(10, 1fr);
      }

      .newShareContentField label{
		grid-column: 1/3;

		text-align: right;
		margin: 1rem;
	}

      #newShareContent{
		grid-column: 3/11;
		max-width:100%;
		margin: 1rem;
      }

      .newShareButton{
		grid-column: 1/13;
		grid-row: 4;
		margin: 1rem auto;
      }        
}