#membersChatP{
	text-align: center;
}
	
#displayAllMessages{
	margin-top: 4rem;
}

.displayAllMessagesTitle{
	text-align: left;
	margin-left: 2rem;
}

.displayAllMessagesMessage{
	margin-left: 3rem;
}

.displayAllMessagesName{
	margin-left: 3rem;
}

.displayAllMessagesDate{
	margin-left: 3rem;
}

.displayAllMessagesAwser{
	margin-top: 2rem;
	margin-left: 5rem;
}

.displayAllMessagesAwserName{
	margin-left: 5rem;
}

.displayAllMessagesAwserDate{
	margin-left: 5rem;
}

#chatAnswerForm{
	margin-top: 1rem;
	margin-left: 7rem;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
	#sendNewChatItem{
		margin-top: 2rem;
		display: grid;
		grid-template-columns: $gridTempCol;
		grid-template-rows: repeat(4, auto);
	}
	
	#sendNewChatItem h2{
		grid-column: 1/13;
		grid-row: 1;
		margin: auto;
	}

	#newChatForm{
		display: grid;
		grid-column: 1/13;
		grid-row: 2/5;
		grid-template-columns: subgrid;
	}

	.newChatTitleField{
		grid-column: 2/12;
		grid-row: 2;
		margin: 1rem 3rem 1rem auto;
	}

	#newChatTitle{
		width:80vw;
	}

	.newChatContentField{
		grid-column: 2/12;
		grid-row: 3;
		margin: 1rem 3rem 1rem auto;
	}

	#newChatContent{
		width:80vw;
		height: 10rem;
	}
	
	.newChatButton{
		grid-column: 1/13;
		grid-row: 4;
		margin: auto;
	}
	
	#chatAnswerMessage{
		width:60vw;
		height: 5rem;
	}
}

@media(min-width: 792px)
{    
	#sendNewChatItem{
		margin-top: 2rem;
		display: grid;
		grid-template-columns: $gridTempCol;
		grid-template-rows: repeat(4, auto);
	}
	
	#sendNewChatItem h2{
		grid-column: 1/13;
		grid-row: 1;
		margin: 1rem auto;
	}

	#newChatForm{
		display: grid;
		grid-column: 1/13;
		grid-row: 2/5;
		grid-template-columns: subgrid;
	}

	.newChatTitleField{
		grid-column: 1/13;
		grid-row: 2;
		display: grid;

		grid-template-columns: repeat(10, 1fr);
	}

	.newChatTitleField label{
		grid-column: 1/3;
		grid-row: 1;

		text-align: right;
		margin: 1rem;
	}

	.newChatTitleField input{
		grid-column: 3/11;
		grid-row: 1;
		margin: 1rem;
	}

	#newChatTitle{
		max-width:100%;
	}

	.newChatContentField{
		grid-column: 1/13;
		grid-row: 3;
		display: grid;

		grid-template-columns: repeat(10, 1fr);
	}

	.newChatContentField label{
		grid-column: 1/3;

		text-align: right;
		margin: 1rem;
	}

	#newChatContent{
		grid-column: 3/11;
		max-width:100%;
		margin: 1rem;
	}
	
	.newChatButton{
		grid-column: 1/13;
		grid-row: 4;
		margin: 1rem auto;
	}
	
	#chatAnswerMessage{
		max-width:100%;
		height: 5rem;
	}
}