/* ********** MembersList ********** */

@media(min-width: 0px) and (max-width: 791.99px)
{
      .membersListName{
            padding: 0.2rem 1.5rem;
      }
      
      .membersListEmail,
      .membersListTel{
            padding: 0.2rem 3rem;
      }

      .membersListItem{
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
      }
}

@media(min-width: 792px)
{
      #membersList ul{
            display: grid;
            justify-content: center;
            margin: 10rem auto;
      }
      
      .membersListItem{
            display: grid;
            grid-template-columns: 15vw 30vw 20vw;
            grid-template-rows: auto;
      }
      
      .membersListItem p{
            padding: 1rem;
      }
}

