/* ********** MembersHome ********** */


#membersHome h1{
      max-width: 50vw;
}

#disconnect{
      text-align: right;
      margin-right: 2rem;
}

.membersHomeEvent{
      margin: 2rem;
      padding: 1rem;
      border: 4px solid $blue;
	border-radius: 8px;
}

.membersHomeEvent h3{
      text-align: left;
}

.membersHomeEvent p{
      text-align: justify;
}

.setParticipationFieldset{
      padding-left: 3rem;
}

.setParticipationForm .button{
      margin-left: 4.5rem;
}
