#membersChatP{
    text-align: center;
}
    
#sendNewChatItem{
    display: grid;
    grid-template-columns: $gridTempCol;
    grid-template-rows: repeat(2, 1fr) auto 1fr;
}

#newChatForm{
    display: grid;
    grid-column: 1/13;
    grid-row: 2/5;
    grid-template-columns: subgrid;
}

#sendNewChatItem h2{
    grid-column: 1/13;
    grid-row: 1;
    margin: auto;
}

.newChatTitleField{
    grid-column: 2/12;
    grid-row: 2;
    margin: 1rem 3rem 1rem auto;
}

.newChatTitleField input{
    width: 60vw;
}

.newChatContentField{
    grid-column: 2/12;
    grid-row: 3;
    margin: 1rem 3rem 1rem auto;
}

.newChatButton{
    grid-column: 1/13;
    grid-row: 4;
    margin: auto;
}


#displayAllMessages{
    margin-top: 4rem;
}

.displayAllMessagesTitle{
    text-align: left;
    margin-left: 2rem;
}

.displayAllMessagesMessage{
    margin-left: 3rem;
}

.displayAllMessagesName{
    margin-left: 3rem;
}

.displayAllMessagesAwser{
    margin-top: 2rem;
    margin-left: 5rem;
}

.displayAllMessagesAwserName{
    margin-left: 5rem;
}

#chatAnswerForm{
    margin-top: 1rem;
    margin-left: 7rem;
}

@media(min-width: 0px) and (max-width: 791.99px)
{
    #newChatTitle{
        width:80vw;
    }

    #newChatContent{
        width:80vw;
        height: 10rem;
    }

    #chatAnswerMessage{
        width:60vw;
        height: 5rem;
    }
}

@media(min-width: 792px)
{    
    #newChatContent{
        width: 60vw;
        height: 5rem;
    }
}